<snippet tags="defaultStyle" name="brewer" scripts="seedBrewer.js" start>

<p>It is 6:59 am EST on March 4, 2024, one minute before submissions close for this year's Seedcomp.</p>

<p>Fortunately, this is the hypothetical nonexistent world of Seedcomplandia, where time is infinite. You have as much time as you need. You are not cramming a small last-minute project before the deadline to make up for your inability to finish the large and ambitious game you wanted to submit. This is not the exact same thing you did last year. Perish the thought!</p>

<p>Which seeds will you use?</p>

<p><small>Disclaimer: Obviously I did not make any of these seeds. All credit goes to the original creators.</small></p>
<p><small><del>Please ignore the fact that I actually submitted this game several hours late after the deadline passed</del></small></p>

<div id="seedContainer"></div>

<div class="panelFull absoluteAlign menuPanel hidden" identifier="nunsWithGuns"></div>
<div class="panelFull absoluteAlign menuPanel hidden" identifier="catherinesLetter"></div>
<div class="panelFull absoluteAlign menuPanel hidden" identifier="dearDiary"></div>
<div class="panelFull absoluteAlign menuPanel hidden" identifier="batteriesNotIncluded"></div>
<div class="panelFull absoluteAlign menuPanel hidden" identifier="roomClosedDoor"></div>
<div class="panelFull absoluteAlign menuPanel hidden" identifier="moldAndMildew"></div>
<div class="panelFull absoluteAlign menuPanel hidden" identifier="reverseAPoem"></div>
<div class="panelFull absoluteAlign menuPanel hidden" identifier="personalAssistant"></div>
<div class="panelFull absoluteAlign menuPanel hidden" identifier="bringerOfGrainAndSeed"></div>
<div class="panelFull absoluteAlign menuPanel hidden" identifier="europa"></div>
<div class="panelFull absoluteAlign menuPanel hidden" identifier="thing"></div>

<button type="button" id="alchemize" class="hidden">Alchemize!</button>

</snippet>