<snippet tags="defaultStyle" name="begin">

<h2>All The Nonexistent Games I Would Have Made For Seedcomp If I Had The Time (Which I Did Not) (Oh Well There's Always Next Year)</h2>

<p>Seedcomplandia is a magical world where you have infinite time to make as many games for Seedcomp as you could possibly want, and nothing can stop you. No real-life obligations to get in your way! Not a single one!</p>

<p>[[ENTER SEEDCOMPLANDIA|brewer]]</p>

</snippet>