<snippet tags="defaultStyle" name="batteriesNotIncluded">
<div>
    <img class="small" src="assets/batteriesNotIncluded.jpg" alt="Disheveled robot." />
    <h3>Batteries Not Included, by Zed Lopez</h3>
    <a href="https://zedlopez.itch.io/batteries-not-included"><small>https://zedlopez.itch.io/batteries-not-included</small></a>

    <p><small>This prompt is under the CC-BY-NC licence.</small></p>

    <p>In a world that's totally not an unauthorized grim and gritty reboot of Toy Story, it's either charge or die. The humans are gone, and toys lead a hardscrabble existence trying to find batteries enough to make it through another day. And that was before the GoBots syndicate cornered the battery supply.</p>

    <p>But Jack says he's got a lead on a big score, for real, not like all the other times.</p>

    <p>Can you and your scrappy found family of misfit toys pull off the heist of your lives?</p>

    <p><a href="http://clipart-library.com/clipart/rinrpndbT.htm" class="outsideLink">Real Heart Cartoon from Clipart Library</a>, free for non-commercial use.</p>
</div>
</snippet>