<snippet tags="defaultStyle" name="bringerOfGrainAndSeed">
    <div>
        <img class="small" src="assets/bringerOfGrainAndSeed.jpg" alt="Photo of golden wheat." />
        <h3>Bringer of Grain and Seed, by Rovarsson</h3>
        <p><em>Post-apocalyptic bringers of hope and seeds.</em></p>
        <a href="https://rovarsson.itch.io/seed-dispersal"><small>https://rovarsson.itch.io/seed-dispersal</small></a>

        <p><small>This prompt is under the CC-BY-NC licence.</small></p>

        <p>Humanity set up the Svalbard Global Seed Vault to protect and conserve our wealth of fauna for generations to come. Large swaths of land would be stricken by draught and heat, effectively turned into deserts by Global Warming.</p>

        <p>Well, that happened. Unfortunately, a lot of other related but unforeseen things happened too.</p>

        <p>The Seed Vault was built in the High North, to safeguard it from the worst of the warming effect. Not long after temperatures started to noticeably rise, we realized our oversight. The ground itself upon which we had erected our hope for mankind was melting. The Permafrost proved highly vulnerable to a small rise in temperature. When it began to melt, it melted fast, bringing about its own feedback loop of expelled gases that raised temperatures even more.</p>

        <p>--------------------------------------------</p>

        <p>--300 years later.</p>

        <p>After a period of chaos and turmoil never before witnessed by human civilization, Earth's climate and humanity's societies have been drastically reshuffled.</p>

        <p>Closer to home, the Svalbard Global Seed Vault sunk, cracked, eroded and basically split open. By then however, the Nordic climate had grown warm enough for a large percentage of the seeds to take root.</p>

        <p>The result is an almost surrealist oasis, an ecosystem grown out of the competition and co-existence of plants that found themselves on the melted and newly-fertile soil that once made up the Permafrost.</p>

        <p>---------------------------------------------</p>

        <p>We are Seed Bringers.</p>

        <p>We tend this half-wild jungle, harvest its seeds and grains and bring them to the newborn pockets of human settlement and civilization where we find them. Sometimes we choose to stay there...</p>

        <p>We explore and excavate the buried ruins of the Vault for seed-chambers not yet opened. We scavenge what technology still works and modify it to meet our needs.</p>

        <p>We climb and crawl up the mossgrown laboratory towers, standing cracked and crooked in the center of our grand oasis. The old humans were experimenting on the seeds and grains there...</p>

        <p>----------------------------------------------</p>

        <p>I am Tunalaak. I am a Seed Bringer.</p>

        <p>I have a packet of grain, vacuum-sealed and wrapped in cloth. I must bring it to Lille, a town in what used to be the north of France...</p>
    </div>
</snippet>