<snippet tags="defaultStyle" name="catherinesLetter">
    <div>
        <img src="assets/catherinesLetter.jpg" alt="Bloodstained letter." />
        <h3>Catherine's Letter, by sophiades</h3>
        <p><em>A postcard prompt.</em></p>
        <a href="https://sophiades.itch.io/catherinesletter"><small>https://sophiades.itch.io/catherinesletter</small></a>

        <p><small>This prompt is under the CC-BY-NC licence.</small></p>

        <p><strong>Transcript:</strong></p>
        <blockquote>Hi,<br /><br />Father Joel Ryder said that I should send word since it's been a really long business trip &amp; you might worry otherwise. We're OK! Taffy has been super cute, see attached pictures.&nbsp;<br /><br />Sending lots of love,<br />Catherine &amp; Taffy ( + dad)&nbsp;<br /><br />(P.S&nbsp;dad said don't worry he brought along his silver crucifix)</blockquote>
        <p><strong>ASSETS:</strong></p>
        <ul>
            <li>Postcard Template is from the <a href="https://itch.io/jam/wish-you-were-here">Wish You Were Here Jam of 2021.</a></li>
            <li>Pictures were processed with the <a href="https://imagenerator.net/gbc" referrerpolicy="origin" rel="nofollow noopener">Game Boy Camera.</a></li>
            <li>The following free-to-use (no attribution required)&nbsp;&nbsp;pictures were used from Pexels: <a href="https://www.pexels.com/photo/close-up-view-of-a-cute-kitten-8538275/" referrerpolicy="origin" rel="nofollow noopener">One</a> |&nbsp;<a href="https://www.pexels.com/photo/orange-tabby-kitten-lying-on-blue-textile-8523559/" referrerpolicy="origin" rel="nofollow noopener">Two</a> | <a href="https://www.pexels.com/photo/close-up-photo-of-person-holding-white-kitten-1444321/" referrerpolicy="origin" rel="nofollow noopener">Three</a></li>
        </ul>
    </div>
</snippet>
