<snippet tags="defaultStyle" name="dearDiary">
    <div>
        <h3>Dear Diary, by Dry Cappuccino Games</h3>
        <p><em>Entries from my childhood diary that have a strange, menacing energy.</em></p>
        <a href="https://drycappuccino.itch.io/dear-diary-seed"><small>https://drycappuccino.itch.io/dear-diary-seed</small></a>

        <p><small>This prompt is under the CC BY 4.0 licence.</small></p>

        <img class="small" src="assets/dearDiary1.jpg" alt="Ominous diary." />
        <img class="small"  src="assets/dearDiary2.jpg" alt="Ominous diary." />
        <img class="small"  src="assets/dearDiary3.jpg" alt="Ominous diary." />
        <img class="small"  src="assets/dearDiary4.jpg" alt="Ominous diary." />
        <img class="small"  src="assets/dearDiary5.jpg" alt="Ominous diary." />

        <h3>Transcripts</h3>

        <h6>[page 1]</h6>
        <blockquote>
            I LOVE CODY<br />
            I LOVE MOMMY<br />
            I LOVE DADDY<br />
            I LOVE DADDY<br />
            I LOVE MOMMY<br />
            I LOVE MOMAAA<br />
            I LOVE MOMMY<br />
            I LOVE MOMMY<br />
            [illegible]<br />
            I LOVE DADDY<br />
            I LOVE MOMMY<br />
            I LOVE MOMMY<br />
            I LOVE MOMMY<br />
            I LOVE MOMMY<br />
            I LOVE DADDY<br />
        </blockquote>

        <h6>[page 2]</h6>
        <blockquote>
            IE<br />
            IDONTNOANYWERE<br />
            [crossed out]<br />
            FEBYWARY<br />
        </blockquote>

        <h6>[page 3]</h6>
        <blockquote>
            I LOVE CODY<br />
            I LOVE MOM<br />
            I LOVE DAD<br />
            I LOVE CODY<br />
            I LOVE DAD<br />
            I LOVE DAD<br />
            I LOVE MOM<br />
            I LOVE MOMMY<br />
            I LOVE CODY<br />
            I LOVE DADDY<br />
            I LOVE DAD<br />
            I LOVE DAD<br />
            I LIKE DAD<br />
            I LIKE ME<br />
            I LIKE ME<br />
            I LIKE ME<br />
        </blockquote>

        <h6>[page 4]</h6>
        <blockquote>
            WE [scribbled out]<br />
            IHOWDEOUGOOD<br />
            IT WASEAGODDAY<br />
            TODAY.IWAS [red]<br />
            RILEGOOD.TODAY<br />
            IWASES[illegible]TODAY.<br />
        </blockquote>

        <h6>[page 5]</h6>
        <blockquote>
            21<br />
            8-18-02<br />
            dear diARY<br />
            Last Nihgte<br />
            i hade a<br />
            dreem<br />
        </blockquote>
    </div>
</snippet>
