<snippet tags="defaultStyle" name="europa">
    <div>
        <img class="small" src="assets/europa.jpg" alt="Emerald cavern." />
        <h3>Europa, by oneeyedpizza</h3>
        <p><em>This seed was borne out of my interest in mythology and nomenclature. Its intended genre is sci-fi; but I'd be just as curious to see what it might inspire in other genres.</em></p>
        <a href="https://oneeyedpizza.itch.io/seed"><small>https://oneeyedpizza.itch.io/seed</small></a>

        <p><small>This prompt is under the CC-BY-NC licence.</small></p>

        <blockquote>
            <p>IDEA: The colonization of the moon EUROPA is now complete. Visit the strange new dreamworlds that are the moon’s underwater cities; travel through its underground caverns, teeming with flora and fauna and sub-aquatic alien life, the likes of which has never been seen before. Try incorporating or test out a random sentence generator here (a suggestion).</p>

            <p>BONUS IDEA: Tell the story of a EUROPA-obsessed kid, and where that obsession gets them.</p>
        </blockquote>
    </div>

    <h5>Full PDF:</h5>
    <embed src="assets/europa_oneeyedpizza.pdf" type="application/pdf" title="EUROPA" />
</snippet>
