<snippet tags="defaultStyle" name="moldAndMildew">
    <div>
        <img class="small" src="assets/moldAndMildew.jpg" alt="Moldy title page." />
        <h3>Mold and Mildew, by augustk</h3>
        <p><em>A horror based IF.</em></p>
        <a href="https://augustk.itch.io/mold-mildew"><small>https://augustk.itch.io/mold-mildew</small></a>

        <p><small>This prompt is under the CC-BY licence.</small></p>

        <p>You're part of a mold and mildew removal company and you're suddenly tasked to clean a house since there's strangely no one in the company at the moment.</p>

        <p>You go to the house and the client is a sweet elderly lady and her pet cat. You have an inspection and see the clusters of mold in her walls and ceilings. It's a big job for one person, and a worse condition to live in, but for some reason the elderly lady doesn't want to move away.</p>

        <p>You work on the house, have tea time with the lady, play with her cat or whatnot, but sometimes you get the chills in your spine, when the cat stares at you (maybe its just chilling, maybe not) paranoia creeps in, and the atmosphere of the house changes. You get weird urges, weird callings, weird thoughts. What would mold taste like (or maybe you have no braincells :) ) things start getting worse when instead of the mold being removed, it seems to have increased with a different hue, a darker red, almost maroon, maybe the old paint is seeping thru (if paints actually do that)</p>

        <p>Climax - The end starts when you see the lady dead, on the staircase. Her cat eating her. As it looks at you, you smile and join the feast.</p>

        <p>[This is one of the paths of the story, I was thinking of a simple 3 ending narrative? (dk what its called), in which the victim could be the player, the lady, or maybe you just do a decent job and leave. Basically as the story goes on, one of the two characters would be unhinged or crazy. So for example, one of the reasons theres is only the player in the company would be due to him being insane and basically like unaliving his coworkers. Or maybe the lady kept their corpses in her attic. Hope you have fun with this concept and I can't wait to see the results :) ]</p>
    </div>
</snippet>
