<snippet tags="defaultStyle" name="nunsWithGuns">

<div>
    <img src="assets/nunsWithGuns.jpg" alt="THESE NUNZ ARE HARDCORE. THEY ARE HOLDING HARDCORE GUNZ. THAT'S GUNZ WITH A Z FOR EXTRA HARDCORE POWER" class="small"/>
    <h3>Nunz With Gunz, by manonamora</h3>
    <p><em>Prayers just got a whole lot more special.</em></p>
    <a href="https://manonamora.itch.io/prompt-nunz-with-gunz"><small>https://manonamora.itch.io/prompt-nunz-with-gunz</small></a>

    <p><small>This prompt is under the CC-BY licence.</small></p>

    <p>== [ Explanation ] ==</p>

    <p>//Nunz with Gunz// was a funny title I came up while not sober. It is possible I was watching Warrior Nun at the time, but I can't say for sure.</p>

    <p>I thought this was a cool and fun title, but I had not gone further than that. I hoped I would be using it some day for a short game, but it probably won't happen for a long while. So it's a seed now :P</p>

    <p>It really is not meant to be serious, kind of making fun of those Action movies with shooting everywhere.</p>

    <p>== [ Potential Paths ] ==</p>

    <p>The most obvious ones would be:<br/>
    * having some sort of turf war with another convent<br/>
    * doing an undercover mission in a convent (you are the nun with the gunz)<br/>
    * nuns fighting back supernatural stuff (or some sort of archangel like with Warrior Nun)<br/>
    * the nuns are the actual bad guys that need to be stopped<br/>
    * it's just the name of an "edgy" band<br/>
    * you are trying to make the movie //Nunz with Gunz//</p>

    <p>== [ "Funny" Quotes ] ==</p>

    <blockquote>
    - What's that?<br/>
    - Holy bullets.<br/>
    - ...<br/>
    - It's like holy water, but with a better range to hit demons, you know?<br/>
    </blockquote>

    <blockquote>
    He looked her down and snickered.<br/>
    - Oh... I get it now... a nun with a gun... From that movie?<br/>
    - Nunz with Gunz, said another. That shitty D-rate movie that tanked last year.<br/>
    - It's a masterpiece, you reply, gritting your teeth. You just don't get it.<br/>
    </blockquote>

    <blockquote>
    - Sister, we're surrounded!<br/>
    - I'm not giving up! <br/>
    Sister Elena clenched her hand on the handle. She was running out of ammo...<br/>
    ... but never of faith.<br/>
    - As long as She looks over me, she got up, cocking the riffle. I will prevail!<br/>
    - Sister Elena!
    </blockquote>

    <p>== [ Title Card ] ==</p>

    <p>
    The Title card was created in Canvas with only Free elements and fonts.<br/>
    This includes:<br/>
    * Target Vector Icon Illustration by Greenflash<br/>
    * Praying Hands by Clker-Free-Vector-Images from pixabay<br/>
    * Pistol in Hand Illustration by OpenClipart-Vectors from pixabay<br/>
    * Illustration of a Nun by OpenClipart-Vectors from pixabay<br/>
    * Assault Rifle Illustration by OpenClipart-Vectors from pixabay<br/>
    * ITC Magnifico Daytime font, with the Neon Effect<br/>
    </p>

</div>

</snippet>