<snippet tags="defaultStyle" name="personalAssistant">
    <div>
        <img class="small" src="assets/personalAssistant.jpg" alt="Woman with laptop."/>
        <h3>Personal Assistant, by alyshkalia</h3>
        <a href="https://alyshkalia.itch.io/seed1"><small>https://alyshkalia.itch.io/seed1</small></a>

        <p><small>This prompt is under the CC-BY-NC licence.</small></p>

        <p><small>Cover photo by Christina @ wocintechchat.com via Unsplash.</small></p>

        <p>You're an assistant to a high-ranking government official. You follow her around all day and either wait and do what she tells you, or preempt her needs. There's a scoring system:</p>

        <p>When you try to preempt:</p>

        <ul>
            <li>Sometimes it was a helpful idea and she's happy (+1)</li>
            <li>Sometimes it was an unhelpful idea and she's annoyed (-1)</li>
            <li>Sometimes even when it was a helpful idea, she'd have preferred if you waited for specific instructions (0)</li>
        </ul>

        <p>When you wait:</p>

        <ul>
            <li>Sometimes she's glad (+1)</li>
            <li>Sometimes she's annoyed you didn't take initiative (-1)</li>
            <li>Sometimes she would have preferred if you took initiative, but it's not a big deal (0)</li>
        </ul>

        <p>Example</p>

        <p>Your boss is talking to the director of finance. You:</p>

        <ul>
            <li>Wait for instructions. [0]</li>
            <li>From the conversation, it's clear she's going to be heading out soon. Go grab her coat. [+1]</li>
            <li>Check her messages. [-1]</li>
        </ul>

        <p>Notes</p>

        <p>As-is, this is rather boring. I think it needs an interesting setting and strong characterization of the boss to be a fun game. Maybe also other characters who might distract the PC from their duties. Maybe storylines outside of your job duties are more interesting to pursue, and the player has to decide if they care more about trying for a good score or playing out a fun storyline. Maybe there are reasons the player might want to sabotage the boss, and so they can choose to tick her off on purpose so that she's in a bad mood and offends the wrong person, for example. I like the idea of the game being set up as a straightforward "try to get maximum points by doing your job well" but then undermining that by creating narrative reasons to NOT aim for a perfect score. (Yes I did just come up with that idea as I was writing this.)</p>
    </div>
</snippet>
