<snippet tags="defaultStyle" name="reverseAPoem">
    <div>
        <h3>Reverse a Poem, by Amanda Walker</h3>
        <a href="https://amanda-walker.itch.io/reverse-a-poem-seed-for-seedcomp"><small>https://amanda-walker.itch.io/reverse-a-poem-seed-for-seedcomp</small></a>

        <p><small>This prompt is under the CC-BY-NC licence.</small></p>

        <p>Use a poem as an inspiration for a game, but reverse its tone. For instance, find a sad poem and make a comedy of it. Or a silly poem and make it a horror story. Or a love poem and make a game about hate, or vice versa. Stick to the locations, ideas, or characters of the poem so that the game is recognizable as being inspired by it, but the emotion, the feel of the work needs to be opposite.</p>

        <p>A few ideas for poems I think are good fits for this:</p>

        <p>[in Just-] by EE Cummings (sweet, funny, charming) https://www.poetryfoundation.org/poems/47247/in-just</p>

        <p>Desert Places by Robert Frost (sad, scary) https://www.poemhunter.com/poem/desert-places/</p>

        <p>Aubade by Philip Larkin (death-obsessed) https://www.poetryfoundation.org/poems/48422/aubade-56d229a6e2f07</p>

        <p>Aedh Wishes for the Cloths of Heaven by WB Yeats (love poem) https://poets.org/poem/aedh-wishes-cloths-heaven</p>

        <p>It’s Like This by Stephen Dobyns (morose) https://www.poetryfoundation.org/poetrymagazine/poems/34417/its-like-this</p>

        <p>Wood by Sarah Arvio (end of relationship) https://www.saraharvio.com/wood</p>
    </div>
</snippet>
