<snippet tags="defaultStyle" name="roomClosedDoor">
    <div>
        <img src="assets/roomClosedDoor.jpg" alt="Room; Closed Door; Serif Font" class="small" />
        <h3>Room; Closed Door, by Charm Cochran</h3>
        <a href="https://overthinking.itch.io/room-closed-door"><small>https://overthinking.itch.io/room-closed-door</small></a>

        <p><small>Prompt by Charm Cochran, written for the Planting round of SeedComp! 2023</small></p>
        <p><small>Released under a Creative Commons Attribution 4.0 International License.</small></p>

        <p>Write a room escape game (preferably Twine or other hypertext) where the prose and choices are comprised only of nouns and adjectives — no verbs allowed!</p>

        <p>For instance, as part of the main room description there could be a link reading BLUE DESK.</p>

        <p>When the player clicks it to see a description of the desk, you might include a link reading CLOSED DRAWER.</p>

        <p>When that’s clicked, it could change to OPENED DRAWER (clicking this link might close the drawer again) and append a list of the drawer’s contents.</p>

        <p>You may be tempted to include prepositions or conjunctions, but I urge you to refrain if at all possible.</p>

        <p>The prose would need to be pretty impressionistic and minimal, but it could be a nice exercise in environmental storytelling, implied action, and bare-bones puzzle design.</p>
    </div>
</snippet>
