<snippet tags="defaultStyle" name="thing">
    <div>
        <h3>thing, by Kit Riemer</h3>

        <p><small>This prompt is under the ??? licence.</small></p>

        <p>??? thing</p>
        <p>two travelers from a highly advanced planet land on earth</p>

        <p>Cracked, colorless, and roadkill-splattered, the highway stretched out like a ribbon under a dream-green sky. The clouds so far up they’re barely visible.</p>

        <p>Aili leaned against a splintery wooden fencepost a little ways off the road, trying to chew a wheat stalk down to a manageable size. It drooped comically from her mouth. Sweat darkened the rolled-up bandana she’d tied around her head while she gazed out over the road, watching heat lines quivering above the surface. It stretched into the shimmering distance.</p>
        <p>On the road nearby Jam sat on the bike trying to kick the engine over.</p>

        <p>The sun hung directly overhead, casting sliver-thin shadows straight down. Every solitary object stark and weird. It all looked like vector art.</p>

        <p>“I know I’m like a broken record but it doesn’t make sense to me,” Jam blurted out, sliding off the seat and looking mournfully at her bruised right shin. Aili shrugged.</p>

        <p>“We use whatever they use. No cheating when it’s annoying. That’s what ‘immersion’ means, love.”</p>
        <p>“Well, I think it’s stupid.” Jam lay back on the road, the heat of the asphalt radiating through her denim jacket. No wind, no traffic noises, just cicadas somewhere buzzing. Aili sauntered over and straddled the bike, held in the clutch and kicked the lever down. The engine stuttered to life.</p>

        <p>Jam looked over like are you fucking kidding me. Then stood up and hopped on the back of the bike.</p>

        <p>“No reconstruction on this planet yet,” she shouted over the putting engine. “Maybe keep the speed down?” Aili shrugged again.</p>

        <p>--</p>

        <p>The town lay in the late-day shadow of a low mesa. It wasn’t much; a main strip with a few stores and a movie theater, branching streets getting dustier and smaller dotted with weatherbeaten houses. More than half were vacant. The bike puttered into the small gray lot of a motel a little off the strip, and the two girls hopped off.</p>

        <p>notes:</p>

        <p>Aili in the morning scraping green goo out of her eye, left over from the colored eyeliner she’d found at the pharmacy.</p>

        <p>folks from a technologically advanced society where robot surgery machines can basically print you new skin, organs, genitals, etc. whatever you want. bodies are fully modifiable. your brain and to a certain extent nervous system must remain intact, and do degrade, although this decomposition is slowed by advanced drug treatments.</p>
        <p>thus, everyone has access to semi-infinite longevity and customizable beauty. it’s a social anarchic worldwide government where you have access to whatever you want but taking a large amount of any resource is frowned upon.</p>

        <p>these advanced descendants are exploring a planet similar to earth circa 2000. they drop in a southern farm town, wide expanses of field and empty land.</p>
    </div>
</snippet>
