<snippet tags="defaultStyle" name="anni2">

<img src="assets/annihilationOcean.jpg" alt="EYE OF PROVIDENCE">

<h3>Annihilation Ocean</h3>

<p>[[Play it anyway.|ifdb1]]</p>

</snippet>

<snippet tags="defaultStyle" name="anni3">

This was supposed to be my first game. I was gonna finish it for Seedcomp 2023. Yeah, a year ago. Obviously that didn't happen. 

The original concept, taken from Bringer of Grain and Seed, was that you'd be Tunalaak, sailing a ship through the post-apocalyptic ocean on your way to reach Lille. On the way you'd stop by islands and do classic ocean activities like fishing or whatever. 

The first instance of scope creep came when I figured it would also be a good idea to add Europa, an imaginary world representing the pre-apocalyptic Earth. Lost Eden kind of deal. Then I made Europa into the utopian society from Kit Riemer's seed, because utopias are cool. Then I decided to add more horror elements. Then I couldn't finish it on time. Then I figured I could submit it to Spring Thing 2023 but still couldn't finish it on time. Then I got really tired of working on it.

I'll return to it eventually. Maybe.

</snippet>

<snippet tags="defaultStyle" name="anni4">

HOW TO BECOME A FISH

Jump into the ocean.
Breathe in water. Darkness melds into you and deathly euphoria fills your languid head. Your thoughts bubble away in silence, and water roars in your ears as the ocean fills you to brimming with itself until you become part of it.

Your leaden body sinks.
The ocean annihilates you. Your fingers melt like wax and your skin sloughs off so your raw nerves thrum in the cold astringent water. Water enters your pores to transmute your lungs into gills. Fish swim into your dripping ear canals, curling around your brain. Your brain will become like a fish. You will be a fish.

Fish have no thoughts.
You will be like your earliest ancestors, floating unthinking unfeeling in the dark water, existing apropos of nothing. You will be a sliver of life in an infinity of ocean. Gradually the water will erode you into less than a sliver. Salt will dissolve your fins and scales. Your bones will rot softly, falling like eroded diamond flecks. You will be reduced smaller and smaller until you are a gobbet of flesh invisible to the naked eye. You will be indistinguishable from the water. You will shrink to an infinitesimal point.

Then you will not be a fish.
You will be nothing.

</snippet>

<snippet tags="defaultStyle" name="anni5">

    Mechanical things are easy to fix. They know their weaknesses and seek to repair themselves. They seek life like all other things. Easy enough that they spread across the earth ravaging it for biofuel, that enormous metal slicks spread themselves on the ocean, garbage slicks heavy with metal scraps that jitter on the surface of the waves, crakling with ozone and sulfur, fire brimming on their surface... We are taught about them and taught to stay away.
    
    Children see the pictures and file them away as another symptom of the ravaged world - trees dripping with rust, half converted into steel, machines running rampant across deserted fields swinging their scythe blades, feral helicopters swinging like wrecking balls into rusted-out skyscrapers. The mating rituals of feral helicopters. Swarms of feral helicopters winging it into the air, their rotorblades grinding in unison, going after flocks of birds to process into biofuel.

</snippet>