<snippet styles="meta/ifdb_files/ifdb.css" tags="noWrapper" name="utopianPsycho">

<% 
$(function () {
    const text = document.createElement("div");
    text.innerHTML = `
        <p>
            Every character in this game, ranked:
        </p>

        <p>
            1. Airi. I had my doubts about her but she's the only person who shows the protagonist real compassion no matter what, even if you take the 'immoral' path and do the most heinous stuff, she'll still forgive you. Which is crazy, because a lot of the other characters who supposedly stand for everything good society has to offer, Neon and 7V582nn just to name some names, will turn on you in a heartbeat. But Airi never backs down.
        </p>

        <p>
            2. Jam. She's not as much of a total moral paragon as Airi. All the storylines where you murder Airi and she basically goes hardcore mode and tortures you in VR for a thousand years demonstrate that pretty well. But she's hella cool anyway. Everything about her aesthetic is perfect, I mean have you seen her? IN THIS HOUSE WE RESPECT A GIRL WHO INSTALLS EFFECTORS INTO HER BRAIN CELLS
        </p>

        <p>
            Also, the scenes you can do with Airi and Jam are the coolest ones. I have always wanted to be electrocuted in a cage while a raft (the internet says a "raft" is the correct term for a group of ducks and I'm using it because it's funny) of horse-sized rubber ducks wearing lab coats look on impassionately, and if you're wondering what the context for that is, go play this game. 
        </p>

        <p>
            But on a more serious note, the simulations you can do that involve past-Earth and non-utopian societies are clearly the crux of the game, the part where the most effort has been put in, and it shows. I really liked seeing Airi and Jam's thoughts on past vs present society and in general seeing them interact with inhabitants of past-Earth is equal parts funny and heartwrenching. It's hard not to like them for that.
        </p>

        <p>
            3. Moore. Moore puts up with a lot of shit from you. Yeah they're not always the nicest or most tolerant or whatever but they usually mean the best. Also, extra points to them for being family. Or the closest equivalent since it's 30XX and family is obselete as a concept, but test tube twin is probably the closest 30XX equivalent right?
        </p>

        <p>
            4. 7V582nn. He's really funny he'll be like 'I hate you you're such a loser anyway wanna hang out tomorrow'. But I'm glad I don't know anyone like him in real life. In some of the endings he's an awful person.
        </p>

        <p>
            5. The hub. I know some people actually liked being constantly surveilled by an all seeing autonomous overlord or whatever but I thought it was really annoying and usually murdered it first. Sorry AI lovers. Of course, the AI doesn't get last place because that dubious honor goes to Neon. Obviously.
        </p>

        <p>
            6. Neon. Everyone hates Neon.
        </p>

        <p>
            Anyway if you're wondering what any of that is about, just click the 'play now' link this game is pretty cool
        </p>
    `;
    const review1 = mainScript.IfdbReview(
        null,
        "Airi x Jam otp 2024",
        "March 4, 2024",
        "Anonymous",
        text
    );

    const text2 = document.createElement("div");
    text2.innerHTML = `
        <p>This game is for Seedcomp, though it takes a lot of liberties with the seed (story prompt) it was based on. The original concept was that two travelers from a utopian, technologically advanced planet (Airi and Jam) land on Earth. This game sticks with the advanced utopia part, but ditches the rest. Instead of interplanetary travel, you're simulating other worlds in VR. Earth, that uncivilized mud ball, is just one of the many places you visit from the comfort of your "bliss room", the place where you plug yourself in and dissociate. Airi and Jam are two people you can meet while exploring the Earth simulation.</p>

        <p>The other simulations you can do tend to be exceedingly violent and miserable, often with a horror bent. (Hence the name of the game.) A lot of them involve partners; you'll interact with anonymous avatars, the masks of real people who for whatever reason choose to spend their free time indulging in poverty, starvation, torture and so on, instead of the many real-world pleasures the utopia has to offer. Is it boredom? A pathological need for novelty? An attempt to experience what members of less fortunate civilizations go through every day, to sample the lives of the poor and downtrodden? You could be all of the above. You figure out pretty quickly that the protagonist has no small amount of issues.</p>

        <p>The game is about an hour long. There's a lot you can do in that hour, a lot of people you can meet (and kill, if you feel up to it). By the end, I felt emotionally wrung out, and not entirely sure what to make of the whole thing. I'd recommend it for people who like science fiction and don't mind gore, I guess.</p>
        `;
    const review2 = mainScript.IfdbReview(
        [1, 1],
        "Gory utopian scifi",
        "March 4, 2024",
        "Anonymous",
        text2
    );

    const text3 = document.createElement("div");
    text3.innerHTML = `
        <p>F U C K</p>
        <p>N E O N</p>
        `;
    const review3 = mainScript.IfdbReview(
        [1, 1],
        "Fuck Neon.",
        "March 4, 2024",
        "Anonymous",
        text3
    );

    const description = document.createElement("div");
    description.innerHTML = `

        <p>In the utopian year 30XX, love is a concept of the past.</p>

        <hr>

        <p><em>Cold stars winking infatigably in the sky. Stumble home drenched in sweat; the bliss room glows soft, warm, inviting. No energy to sit on the sofa so I sit on the floor instead, plush white and carpeted. Lean against the wall, also plush white and carpeted. Shiver not out of cold but a nameless ineffable longing.</p>

        <p>Imagine taking a knife from the kitchen and scraping it alongside my arm like so -</p>

        <p>The bliss room is too bright. I want to dim all the lights and lie awake in a state of half consciousness or half existence, both dead and alive, suspended between quantum states of reality, phasing partially out of this world into the next -</p>

        <p>There are unpleasant images forcing themselves into my head and I need to take a break and I have nothing to do and I need to stand up and pace around my room like a rat in a cage the white walls and metal walls and glass walls and floor to ceiling full height windows full length everything living in a little box a little cage a little -</p>

        <p>Stand up and turn off the lights so it is completely dark now except for the headset still glowing the wires coming off it hold a small tinge of luminescence because of the electricity flowing vital through them like blood - a small array of buttons and switches hovers in front of me and the option for True Love Mix is there again but I can't, I can't, my finger hovers over the button then presses something else instead, typing on the pad, something else, it's so easy -</p>

        <p>A gush of blackness; noctural dreams and delusions overtake me...</em></p>
    </p>`;
    const ifdbPage = mainScript.IfdbPage(
        "Utopian Psycho", "Anonymous", description, [review2, review3, review1]
    );

    const snippet = document.getElementById("iff-snippet");
    snippet.append(ifdbPage);

});
%>
</snippet>